body {
    text-align: center;
    background-color: #ca8d8d;
  }
  
  h1 {
    font-size: 5rem;
    color: #02202bbd;
    font-family: cursive;
    text-shadow: 3px 0 #c9b3bd;
  }
  
  .w {
    background-image: url("tom1.png");
  }
  
  .a {
    background-image: url("tom2.png");
  }
  
  .s {
    background-image: url("tom3.png");
  }
  
  .d {
    background-image: url("tom4.png");
  }
  
  .j {
    background-image: url("snare.png");
  }
  
  .k {
    background-image: url("crash.png");
  }
  
  .l {
    background-image: url("kick.png");
  }
  
  .set {
    margin: 10% auto;
  }
  
  .pressed {
    box-shadow: 0 3px 4px 0 #dbedf3;
    opacity: 0.5;
  }
  
  .drum {
    border: 10px solid #404b69;
    font-size: 5rem;
    font-family: "Arvo", cursive;
    font-weight: 900;
    color: #440e0e;
    text-shadow: 3px 0 #dbedf3;
    border-radius: 15px;
    width: 150px;
    height: 150px;
    margin: 10px;
    background-color: white;
  }
  .footer{
    font-weight: 900 ;
  }
